<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- Chrome -->
    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="#3a6cc7">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#3a6cc7">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Showcase">
    <link rel="apple-touch-icon" href="icons/icon-152x152.png">

    <!-- Microsoft -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileImage" content="icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
  </head>
  <body>
  </body>
</html>
