@import 'roboto';
@import 'variables';

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}


html {
  background-color: $brand-default;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: $font-main;
  font-size: $font-size-main;
  line-height: 16px;
  margin: 0;
  padding: 0;
  background: $menu-background;
}

.body {
  background-color: $background-color;
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 3;
  box-shadow: -5px 0px 20px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.header {
  background-color: $header-color;
  color: $text-color;
  z-index: 10;
  display: flex;
  font-family: $font-header;
  font-size: $font-size-header;
  font-weight: 500;
  height: $header-height;
  min-height: $header-height;
  line-height: 24px;
  padding: 8px 8px 8px 8px;
  width: 100%;
  border-bottom: 1px solid $border-color;
  > .title {
    display: flex;
  }
}

.titleText {
  color: #fbfdff;
  font-weight: 300;
}

.bodyHolder {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.backbutton {
  color: white;
  text-decoration: none;
  img {
    height: 24px;
    margin-right: 10px;
  }
}

.currentuser-holder {
  display: flex;
  flex: 1;
  justify-content: center;

  .navbar-username {
    color: white;
    text-decoration: none;
  }

  img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
  }
}


.profile-picture {
  height: $profile-picture-size-normal;
  width: $profile-picture-size-normal;
  border-radius: 50%;
  object-fit: cover;
  background: #eaeaea;

  &.small {
    height: $profile-picture-size-small;
    width: $profile-picture-size-small;
  }

  &.large {
    height: $profile-picture-size-large;
    width: $profile-picture-size-large;
  }

  &.xlarge {
    height: $profile-picture-size-xlarge;
    width: $profile-picture-size-xlarge;
  }

  &.margin {
    margin-right: 10px;
  }
}

.scroller {
  overflow-x: hidden;
  overflow-y: scroll;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;

  > * {
    flex-shrink: 0;
  }
}
