@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import "variables";

* {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  font-size: $font-size-main;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.header {
  background-color: $header-color;
  font-weight: bold;
  color: $text-color;
  line-height: 24px;
  font-family: $font-header;
  font-size: $font-size-header;
  padding: 8px 8px 8px 48px;
  flex: 0 0 auto;
  display: flex;
  position: fixed;
  width: 100%;
  height: $header-height;

  .title {
    flex: 1;
  }
}

.body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-top: $header-height;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: $table-border;
  object-fit: cover;
}


