@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import 'variables';

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  font-size: $font-size-main;
  height: 100vh;
  line-height: 16px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.header {
  background-color: $header-color;
  color: $text-color;
  display: flex;
  flex: 0 0 auto;
  font-family: $font-header;
  font-size: $font-size-header;
  font-weight: bold;
  height: $header-height;
  line-height: 24px;
  padding: 8px 8px 8px 48px;
  position: fixed;
  width: 100%;

  .title {

  }
}

.body {
  background-color: $background-color;
  flex: 1 1 auto;
  flex-direction: column;
  margin-top: $header-height;
  overflow-y: scroll;
  width: inherit;
  height: inherit;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: $table-border;
  object-fit: cover;
  margin-right: 10px;
}

.card {
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10pt;
  width: inherit;
}

.newFileContent {
  display: block;

  input {
    display: block;
    width: 100%;
    border:$text-field-border;
    padding: 3px 7px;
    line-height: 24px;
    border-radius: 4px;
    margin-top: 10px;
  }
}

.attachment {
  border: 1px solid #cacaca;
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  margin-top: 10px;

  p {
    flex: 1;
    line-height: 0;
  }

  .button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contact-card {
  display:flex;

  img {
    width: 100px;
    height: 100px;
  }
}

.contact-card-content {
  flex: 1;
  display: block;
}

.voicecontrollinputholder{
  display: flex;

  button{
    margin: 0;}

    input {
      flex: 1;
    }
  }

  .currentuser-holder {
    display: flex;
    flex: 1;
    justify-content: center;

    img {
      height: 30px;
      width: 30px;
      margin-left: 10px;
      margin-right: 10px;
      align-self: center;
    }
  }

  .messagecontainer {
    width: 100%;
  }

  .messageTitleContainer {
    display: flex;

    i {
      flex: 1;
      width: 100%;
      text-align: right;
    }
  }

  .chatPagesHolder {
    display: flex;
    position: absolute;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 2%
  }
