@import "variables";

.button {
  display: inline-block;
  min-width: 150px;
  margin: 16px 8px 8px 8px;
  border: $button-border;
  border-radius: 4px;
  text-align: center;
  background-color: #888888;
  color: $text-color;
  padding: 8px 18px 8px 18px;
  line-height: 24px;
  font-size: $font-size-main;
  width: inherit;
  height: 40px;
  outline: none;
  font-weight: bold;
  flex: 0 0 auto;

  &:hover{
    background-color: $brand-selected;
    transition: background-color .3s ease-in-out;
  }
}

.primary {
  background-color: $brand-primary;
  width: calc(100% - 16px);
}

.invertedPrimary {
  border: 1px solid $brand-primary;
  background: none;
  color: $brand-primary;
}

.invertedDanger {
  border: 1px solid $brand-danger;
  background: none;
  color: $brand-danger;
}
