@import "variables";

.button {
  margin: 24px 8px 8px 8px;
  border: $button-border;
  border-radius: 4px;
  text-align: center;
  background-color: $brand-default;
  color: $text-color;
  padding: 4px;
  line-height: 24px;
  font-size: $font-size-main;
  width: inherit;
  height: 35px;

  &:hover{
    background-color: purple;
  }
}

.primary {
  background-color: $brand-primary;
}

.invertedPrimary {
  border: 1px solid green;
  background: none;
  color: green;
}

.invertedDanger {
  border: 1px solid red;
  background: none;
  color: red;
}
