@import 'variables';

.contact-card {
  display:flex;
  background: white;
  padding: 10px;
  border-bottom: $table-border;
  justify-content: center;

  h3 {
    align-self: center;
  }
}
.contact-card-content {
  flex: 1;
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.contact-card-holder {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1, h2, h3, h4, h5, ul, .text {
    margin-bottom: 5px;
    padding: 0;
    line-height: 1;
    font-weight: 200;
  }

  .contact-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-info-link {
    width: 100%;
    text-align: center;
    display: flex;
    border-top: $table-border;
    color: gray;
    text-decoration: none;
    font-weight: 100;
    padding: 10px;

    &:hover { 
      color: cornflowerblue;
    }

    &:last-child { 
      border-bottom: $table-border;
    }
  }

  button { 
    margin-top: 10px;
    width: inherit;
  }
}
