@import 'variables';

.contact-card {
  display:flex;
  background: white;
  padding: 10px;
  border-bottom: $table-border;
  justify-content: center;

  h3 {
    align-self: center;
  }

  h1, h2, h3, h4, h5, ul, .text {
    margin: 0;
    line-height: 1;
    padding:0;
    font-weight: 200;
    list-style-type: none;
  }
}

.contact-card-content {
  flex: 1;
  display: block;
}
