@import 'variables';

.contact-card {
  display:flex;
  background: #f8f8f8;
  padding: 10px;
  border-bottom: $table-border;

  h1, h2, h3, h4, h5, ul, .text {
    margin: 0;
    line-height: 1;
    padding:0;
    list-style-type: none;
  }
}

.contact-card-content {
  flex: 1;
  display: block;
}
