.live-camera-holder {

  .image-uploader-buttons{
    display: block;
  }
}

.camera-container {
  #barcodeScanViewHolder {
    height: 500px;
    width: 640px;
  }
}

#takePictureField {
  opacity: 0;
  margin: 0;
  position: relative;
  top: -35px;
  height: 40px;
}

.upload-button-text {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  width: inherit;
}

.simple-image-uploader {
  width: 114px;
  height: 114px;
  min-width: 0;
  margin: -84px auto 0px;
  border-radius: 100%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 1), 0 4px 5px rgba(255, 255, 255, 0.6), 0 0 50px 50px rgba(255, 255, 255, 0.25);
  overflow: hidden;

  > canvas {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 50%;
  }

  > .button {
    height: 100%;
    width: 100%;
    line-height: 1000;
    margin: 0;
    padding: 0;
    min-width: 0;
    background-image: url('/images/Flat-Camera-Icon.png');
    background-color: #e8e8e8;
    background-size: 60% 60%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    :hover {
      background-color: #33b5e5;
    }
  }
}
