@import "variables";

.list {
  border-collapse: collapse;
  flex: 1 1 auto;
  flex: 1;

  .container {
    display: flex;
  }

  .row {
    display: flex;
    border-bottom: 1px solid #dadada;
    background: #FFF;
    transition: background-color .3s ease-in-out;
    padding: 8px;

    &:hover {
      background-color: #efefef;

    }
  }
}

.messagecontainer {
  display: flex;
  flex-direction: column;
}
