@import "variables";

.list {
  border-collapse: collapse;
  flex: 1 1 auto;
  flex: 1;

  .container {
    display: flex;
  }

  .chatrow {
    display: flex;
    margin: 10px;


    .messageTitleContainer {
      display: flex;
      margin-bottom: 5px;

      .messageTimeStamp {
        flex: 1;
        width: 100%;
        text-align: right;
        color: gray;
        font-weight: 200;
      }
    }

    .messagecontainer {
      min-width: 30%;
      max-width: 60%;
      border-radius: 20px;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin: 10px;
      margin-top: 0;
      background-color: #efefef;
      margin-left: 20px;
      margin-right: 20px;
    }

    &.right {
      justify-content: flex-end;

      .messagecontainer{
        background-color: lightgreen;
      }
    }
  }

  .row {
    display: flex;
    border-bottom: $table-border;
    background: #FFF;
    transition: background-color .3s ease-in-out;
    padding: 8px;

    &:hover {
      background-color: $background-color;
    }
  }
}

.userlistItemContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.userlistItemTitleContainer {
  display: flex;

  .userlistItemTimeStamp {
    flex: 1;
    width: 100%;
    text-align: right;
    color: gray;
  }
}

.chatPagesHolder {
  display: flex;
  position: relative;
  height: inherit;
  width: 100%;
  height: inherit;
  margin-left: 0;
}
