@import "variables";

.list {
  border-collapse: collapse;
  flex: 1 1 auto;
  flex: 1;

  .container {
    display: flex;
  }

  .row {
    display: flex;
    border-bottom: $table-border;
    background: #FFF;
    transition: background-color .3s ease-in-out;
    padding: 8px;

    &:hover {
      background-color: $background-color;
    }
  }
}

.messagecontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messageTitleContainer {
  display: flex;

  i {
    flex: 1;
    width: 100%;
    text-align: right;
  }
}

.chatPagesHolder {
  display: flex;
  position: relative;
  height: inherit;
  width: 100%;
  height: inherit;
  margin-left: 0;
}
