@import "variables";

.mainMenu {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
}

.openButton {
  color: #EEEEEE;
  line-height: 24px;
  font-size: 16px;
  padding: 8px 8px 8px 16px;
  width: 40px;
  cursor: pointer;
}

.touchArea {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(20vw + 10px);
  left: -90vw;
  transition: all .5s ease-in-out;

}

.touchArea.isOpen {
  left:0;
}

.menu {
  height: 100%;
  width: calc(20vw - 2px);
  box-shadow: 0 0 15px black;
  background-color: white;
  font-weight: bold;
  text-decoration: none;

  a {
    color: $text-color-inverted;
    text-decoration: none;
  }
}

.item {
  color: #EEEEEE;
  line-height: 24px;
  font-size: 16px;
  padding: 8px 8px 8px 16px;
}
