.mainMenu {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
}

.openButton {
  color: #EEEEEE;
  line-height: 24px;
  font-size: 16px;
  padding: 8px 8px 8px 16px;
  width: 40px;
  cursor: pointer;
}

.touchArea {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(90vw + 10px);
  left: -90vw;
}

.touchArea.isOpen {
  left:0;
}

.menu {
  height: 100%;
  width: calc(90vw - 2px);
  box-shadow: 0 0 2px black;
  background-color: white;
}

.item {
  color: #EEEEEE;
  line-height: 24px;
  font-size: 16px;
  padding: 8px 8px 8px 16px;
}
