@import "variables";

.mainMenu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
}

.openButton {
  color: #EEEEEE;
  line-height: 8px;
  font-size: 16px;
  padding: 8px 8px 8px 8px;
  width: 40px;
  cursor: pointer;
}

.touchArea {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.touchArea.isOpen {
  left:0;
}

.menu {
  height: 100%;
  width: 100%;
  min-width: 200px;
  text-decoration: none;

  a {
    color: $text-color-inverted;
    text-decoration: none;
    height: 40px;
    padding: 8px;
    display: block;
    border-bottom: solid 1px #888888;
  }
}

.item {
  line-height: 24px;
  font-size: 16px;
}

.status {
  padding: 8px;
  line-height: 24px;
  color: darkred;

  &.online {
    color: green;
  }
}

#swipeMenuBox {
  position: absolute;
  height: 100vw;
  width: 10px;
  left: 0;
}
