@import "variables";

.messageComposer {
  flex: 0 0 auto;
  display: flex;
  padding: 20pt;
  background-color: white;
}

.input {
  flex-grow:1;
  background: url('~/icons/voice-input.png') no-repeat 7px 5px;
  background-size: 13px 20px;
  padding-left:30px;
}

.send {
}
