@import "variables";

/* The Modal (background) */
.modal {
  justify-content: center;
  align-content: center;
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  display: flex;
  flex-direction: column;
}

/* Modal header /Box */
.modalHeader {
  font-size: 30px;
  padding: 10px;
  padding-bottom: 0;
}

.modalOverlay {
  z-index: 3;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
 // padding: 20px;
  border: 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  z-index: 4;
  border-radius: 4px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
