@import "variables";

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
}

.header {
  flex: 1 1 auto;
}

.title {
}
