// app
$header-height: 40px;

// colors
$background-color: white;
$header-color: cornflowerblue;
$light-gray: #f5f5f5;
$gray: gray;
$brand-primary: mediumspringgreen;
$brand-default: cornflowerblue;
$brand-danger: orangered;
$brand-selected: mediumpurple;
$transparent: rgba(0, 0, 0, 0);
$menu-background: $light-gray;

// fonts and text
$font-main: 'Roboto', 'Arial', sans-serif;
$font-header: 'Roboto', 'Arial', sans-serif;
$text-color: white;
$text-color-inverted: black;
$font-size-main: 14px;
$font-size-header: 16px;

// borders
$button-border: 0;
$table-border: 1px solid #c5c5c5;
$card-border: 1px solid #c5c5c5;
$text-field-border: 1px solid #cacaca;

// chat messages
$message-min-width: 40%;
$message-max-width: 70%;
$message-currentuser-background: mediumspringgreen;
$message-otheruser-background: #efefef;

// images
$profile-picture-size-small: 30px;
$profile-picture-size-normal: 50px;
$profile-picture-size-large: 70px;
$profile-picture-size-xlarge: 120px;
