// colors
$background-color: #efefef;
$header-color: #333;
$light-gray: #f5f5f5;

$brand-primary: LimeGreen ;
$brand-default: LightSlateGrey;
$transparent: rgba(0, 0, 0, 0);

// fonts and text
$font-main: 'Roboto', sans-serif;
$font-header: 'Roboto', sans-serif;

$text-color: white;
$text-color-inverted: black;

$font-size-main: 14px;
$font-size-header: 16px;

$text-field-border: 1px solid #cacaca;

// buttons
$button-border: 1px solid #c5c5c5;

$table-border: 1px solid #c5c5c5;

$card-border: 1px solid #c5c5c5;

$header-height: 40px;


// images
$profile-picture-size-normal: 50px;
$profile-picture-size-large: 70px;
