// colors
$background-color: #ececec; 
$header-color: #333;

$brand-primary: LimeGreen ; 
$brand-default: LightSlateGrey; 
$transparent: rgba(0, 0, 0, 0); 

// fonts and text
$font-main: 'Roboto', sans-serif;
$font-header: 'Roboto', sans-serif;

$text-color: white; 
$text-color-inverted: black; 

$font-size-main: 14px; 
$font-size-header: 16px; 

$text-field-border: 1px solid #cacaca;

// buttons
$button-border: 1px solid #cacaca;

$table-border: 1px solid #cacaca;


$header-height: 40px;


