.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  background-color: #444444;
  font-weight: bold;
  color: #EEEEEE;
  line-height: 24px;
  font-size: 16px;
  padding: 8px 8px 8px 48px;
  flex: 0 0 auto;
  display: flex;
}

.title {
  flex: 1 1 auto;
}

.status {
}

.body {
  background-color: #CCCCCC;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
